body{
  font-family: "Roboto Mono", monospace;
  background-color: #000000;
}
.container-custom{
  width: 80%;
  margin: 0 auto;
  
}
h2 {
  font-size: 3.5rem;
  color: #d7e9f5;
  font-weight: bold;
}
p{
  color: rgb(255, 255, 255);
}

.text-complementare{
  color: #0054ca;
}
.bg-complementare {
  background-color: #0054ca;
}

.bg-primary-dark {
  background-color: #17171700;
}

.bg-primary-dark-light {
  background-color: #525860;
}

.bg-primary-dark-dark {
  background-color: #2A2D33;
}

/* Secondary Color: #00ADB5 */
.bg-secondary-secondary {
  background-color: #bb0707;
}

.bg-secondary-secondary-light {
  background-color: #33C1C6;
}

.bg-secondary-secondary-dark {
  background-color: #8e0000;
}

/* Accent Color: #EEEEEE */
.bg-accent {
  background-color: #EEEEEE;
}